/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* BODY */

body {
    background: #20a5f2;
    border-top: 20px solid #0054a5;
}

#wrapper {
    border-top: 5px solid #fe8e23;
    padding: 0px 60px;
}

header {
    padding: 0 60px;
    overflow: hidden;
    padding-bottom: 15px;
}

/* Header Left*/

.header-left {
    float: left;
}

#logo {
    padding-bottom: 10px;
}

.sub-text {
    font: bold 24px Arial;
    color: #fff;
    word-spacing: 9px;

}


/* Header Right*/

.header-right {
    float: right;
    margin-top: 20px;
}

.hotline {
    padding-left: 30px;
}

.top-search-form {
    padding-top: 5px;
}

form {
    border: 1px solid #ffc807;
    background-color: #fff;
    box-shadow: 1px 1px #ffc807;
    padding: 5px;
    border-radius: 2px;
    width: 110%;
    margin-left: -13.7%;
}

input[type="text"] {
    padding: 5px;
    width: 62%;
    border: 1px solid #ffc807;
    font: 14px Arial;
    height: 30px;
}

::-webkit-input-placeholder {
   color: #268bb9;
   font-size: 12px;
}

:-moz-placeholder { /* Firefox 18- */
   color: #268bb9;
   font-size: 12px;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #268bb9;
   font-size: 12px;
}

:-ms-input-placeholder {
   color: #268bb9;
   font-size: 12px;
}

input[type="button"] {
    background-color: #ffc807;
    color: #fff;
    box-shadow: none;
    border: 0;
    padding: 10px 21px;
    margin-left: 4px;
    font-size: 18px;
}

#nav-menu{
    margin-left: auto;
    margin-right: auto; 
}

#menu {
    width: 100%;
    height: 52px;
    font-size: 15px;
    font-family: Arial;
    font-weight: bold;
    text-align: center;
    background-color: #0054a5;
    border-radius: 8px 8px 0px 0px;
    text-transform: uppercase;
}

#menu ul {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    list-style: none;
    display: inline-block;
}
#menu li{
    display: inline-block;
    margin: 0px 0px 0px 0px;
    padding: 0px 12px;
    height: 52px;
    float: left;
}

#menu li a { 
    display: block;
    padding: 20px 10px 0px 10px;
    height: 32px;
    color: #eee;
    text-decoration: none;
}

#menu a:hover {
    color: #fe8e23;
}

#hot-news-bar{
    height: 42px;
    background-color: #e3e3e3;
    color: #be3425;
    font-weight: bold;
    font-style: italic;
    font-family: Arial;
    font-size: 12px;
}
#hot-news{
    float: left;
    padding-top: 12px;
    padding-left: 12px;
}
#address{
    float: right;
    padding-top: 12px;
    padding-right: 12px;
}

#container{
    background-color: #eee !important;
}

#product{
    width: 75%;
    float: right;
}

#item{
    float: left;
    width: 25%;
}